<div class="flex flex-wrap justify-evenly gap-2 p-3">
  <div *ngFor="let film of films | async" class="film-card w-64 min-w-[250px] my-4 flex flex-col text-center bg-slate-800 rounded-lg">
    <img class="rounded-t-lg max-h-96 h-96" src="https://image.tmdb.org/t/p/w500/{{ film.poster_path }}" alt="{{ film.original_title }}" />
      <h3 class="text-slate-50 font-semibold text-xl p-1 bg-cyan-900">
        {{ film.original_title }}
      </h3>
    <div class="text-gray-50 p-2">
      <span class="font-bold">Overview:</span> {{ film.overview | slice:0:100 }}...
    </div>
    <a class="bg-cyan-900 text-slate-50 max-w-fit hover:text-slate-800 hover:bg-cyan-200 transition-all self-center px-3 py-1" [routerLink]="['/films', film.id]">
      Read more
    </a>
    <footer class="p-2 text-gray-50 justify-end">
      <span class="font-bold">Release:</span> {{ film.release_date }}
    </footer>
  </div>
</div>
