@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Kanit:ital,wght@0,700;0,800;0,900;1,600;1,800;1,900&display=swap');

a{
  cursor: pointer;
}

.container{
  display: grid;
  box-sizing: border-box;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  width: 100%;
  justify-items: center;
  justify-content: center;

  .card__content{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-width: 60%;
    height: auto;
    box-sizing: border-box;
    background-color: rgb(27 63 163);
    text-align: center;
    &--poster{
      border-radius: 2px;
      object-fit: contain;
      max-width: 100%;
      width: auto;
    }
    &--title{
      h2{
        background-color: #000000a1;
        font-family: 'Kanit', cursive;
        color: #ddd;
        font-size: xx-large;
        font-weight: 500;
        margin: 0;
        padding: 1rem 2rem;
      }
    }
    &--link{
      font-size: 1rem;
      text-decoration: underline;
      color: #111;
      padding: 0.5rem 1rem; 
      display: inline;
      padding: 0.5rem 1rem;
      width: -moz-fit-content;
      width: fit-content;
      align-self: center;
      background-color: #999;
    }
    &--description{
      font-family: sans-serif;
      padding: 1rem;
      font-size: 1.5rem;
      color: #eee;
      margin: auto;
      letter-spacing: .4px;

      span{
        font-weight: 600;
        color: #fff;
        text-decoration: underline;
        font-style: italic;
      }
    }
    &--release{
      padding: 1rem;
      font-size: 1rem;
      font-weight: 700;
      color: #fff;
      text-decoration: underline;
      margin-top: auto;
    }
  } 
}

