<footer class="bg-cyan-900 w-full px-10 py-4 flex flex-row justify-between text-slate-100">
  <div class=" text-left">
    <p class="text-xl">
      Visit my social networks 💻
    </p>
    <ul class="pl-5">
      <li>
        🌟
        <a rel="noopener" href="https://github.com/lucasgazzola" target="_blank">
          GitHub
        </a>
      </li>
      <li>
        🌟
        <a rel="noopener" href="https://www.linkedin.com/in/lucasgazzola/" target="_blank">
          LinkedIn
        </a>
      </li>
      <li>
        🌟
        <a rel="noopener" href="https://www.instagram.com/lucasgazzola/" target="_blank">
          Instagram
        </a>
      </li>
    </ul>
  </div>
  <div class="flex self-end">
    ⌨ Lucas Gazzola© - {{date}}
  </div>
</footer>