.container{
  width: 100%;
  box-sizing: border-box;
  form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    label{
      width: 100%;
      text-align: center;
      margin-top: 2rem;  
      span{
        padding: .5rem;
        font-size: 1.5rem;
        font-weight: bold;
      }
      
    }
    button{
      height: 2rem;
      padding: 0px .6rem;
      border: none;
      font-size: .8rem;
      font-weight: 300;
      background: #f1f1f1;
      border-radius: 3px;
      cursor: pointer;
      &:active{
        transform: scale(.9);
        background: #e9e9e9;
      }
    }
    input{
      height: 2rem;
      padding: 0px .5rem;
      border: none;
      outline: 0;
      border-radius: 3px;
      margin: 1rem .5rem;
    }
  }
  h2{
    text-align: center;
    font-weight: 400;
    .last-search{
      text-align: center;
      font-weight: 600;
      color: #181818;
    }
  }
  
}